# Pandas Usage for ML

### Import Pandas

In [10]:
import pandas as pd

### Creating Dataframes

In [11]:
employee_data = {'number': [1,2,3,4], 'name': ['Tony', 'Natasha', 'Bruce', 'Steve'], 'Salary': [500, 550, 400, 375]}

In [12]:
employee_dataFrame = pd.DataFrame(employee_data)
print(employee_dataFrame)

   number     name  Salary
0       1     Tony     500
1       2  Natasha     550
2       3    Bruce     400
3       4    Steve     375

### Selecting rows using head and tail

In [13]:
print(employee_dataFrame.head(2)) #Selects first 2 rows

   number     name  Salary
0       1     Tony     500
1       2  Natasha     550

In [14]:
print(employee_dataFrame.tail(2)) #Selects last 2 rows

   number   name  Salary
2       3  Bruce     400
3       4  Steve     375

### Merging DataFrames

In [21]:
grocery_1 = {'number': [1,2,3,4,5], 'name': ['Apple', 'Banana', 'Chips', 'PopCorn', 'Cheese'], 'price': [20, 30, 60, 50, 90]}
grocery_2 = {'number': [1,2,3,4,5], 'name': ['Apple', 'Banana', 'Chips', 'PopCorn', 'Cheese'], 'price': [20, 30, 60, 50, 90]}

In [22]:
grocery_dataframe_1 = pd.DataFrame(grocery_1)
grocery_dataframe_2 = pd.DataFrame(grocery_2)

In [24]:
print(pd.merge(grocery_dataframe_1, grocery_dataframe_2)) #Prints only the common data in both dataframes

   number     name  price
0       1    Apple     20
1       2   Banana     30
2       3    Chips     60
3       4  PopCorn     50
4       5   Cheese     90

In [27]:
#Modifying grocery_2 for seeing changes
grocery_2 = {'number': [1,2,3,4,5], 'name': ['Apple', 'Banana', 'Chicken', 'PopCorn', 'Cheese'], 'price': [20, 30, 160, 50, 90]}
grocery_dataframe_2 = pd.DataFrame(grocery_2)

In [30]:
print(pd.merge(grocery_dataframe_1, grocery_dataframe_2)) #Prints only common data!

   number     name  price
0       1    Apple     20
1       2   Banana     30
2       4  PopCorn     50
3       5   Cheese     90

In [32]:
print(pd.merge(grocery_dataframe_1, grocery_dataframe_2, on='number')) #on parameter specifies what is to be kept common

   number   name_x  price_x   name_y  price_y
0       1    Apple       20    Apple       20
1       2   Banana       30   Banana       30
2       3    Chips       60  Chicken      160
3       4  PopCorn       50  PopCorn       50
4       5   Cheese       90   Cheese       90

In [33]:
print(pd.merge(grocery_dataframe_1, grocery_dataframe_2, on='name'))

   number_x     name  price_x  number_y  price_y
0         1    Apple       20         1       20
1         2   Banana       30         2       30
2         4  PopCorn       50         4       50
3         5   Cheese       90         5       90

In [34]:
print(pd.merge(grocery_dataframe_1, grocery_dataframe_2, on='price'))

   number_x   name_x  price  number_y   name_y
0         1    Apple     20         1    Apple
1         2   Banana     30         2   Banana
2         4  PopCorn     50         4  PopCorn
3         5   Cheese     90         5   Cheese

### Joining DataFrames

In [35]:
print(grocery_1)

{'number': [1, 2, 3, 4, 5], 'name': ['Apple', 'Banana', 'Chips', 'PopCorn', 'Cheese'], 'price': [20, 30, 60, 50, 90]}

In [37]:
grocery_1_attributes = {'color': ['Red', 'Banana', 'Orange', 'Cream', 'White'], 'weight': [10, 15, 15, 100, 250]}
attributes_1_dataframe = pd.DataFrame(grocery_1_attributes)

In [38]:
join_1 = grocery_dataframe_1.join(attributes_1_dataframe)
print(join_1)

   number     name  price   color  weight
0       1    Apple     20     Red      10
1       2   Banana     30  Banana      15
2       3    Chips     60  Orange      15
3       4  PopCorn     50   Cream     100
4       5   Cheese     90   White     250

In [40]:
join_2 = attributes_1_dataframe.join(grocery_dataframe_1)
print(join_2)

    color  weight  number     name  price
0     Red      10       1    Apple     20
1  Banana      15       2   Banana     30
2  Orange      15       3    Chips     60
3   Cream     100       4  PopCorn     50
4   White     250       5   Cheese     90

### Reading CSV Files

In [45]:
demo_csv = pd.read_csv('pandas_demo.csv') #This converts a csv file in pandas dataframe

In [46]:
print(demo_csv)

   num char   color
0    1    a     red
1    2    b   white
2    3    c    blue
3    4    d  yellow
4    5    e   green
5    6    f  orange
6    7    g  purple
7    8    h    none
8    9    I    none
9   10    j    none